//====================================================================================================
.wrapper {
  background-color: #000;
}

//====================================================================================================

.page {

  /* .page__slider */

  &__slider {
    
  }

  /* .page__wrapper */

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 70px;
  }

  /* .page__slide */

  &__slide {}

  /* .page__slide-wpap */

  &__slide-wpap {}

  /* .page__slide-img */

  &__slide-img {
    text-align: center; 
    // картинка по центру
    max-width: 100%;
    // встраивание картинки в ширину обертки
  }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

// пагинация
.page__slider .swiper-pagination {
  bottom: 0;
}

// булеты
.page__slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

// фракции  (числа переключаются 1/6)
.page__slider .swiper-pagination-fraction{
  font-size: 20px;
  color: #fff;
}

// прогрессбар
.page__slider .swiper-pagination-progressbar-fill {
  background-color: #097b2f !important;
}

// стрелки
.page__slider .swiper-button-prev::after,
.page__slider .swiper-button-next::after{
  // изменение цвета и размера стрелок
  color: #fff;
  background-color: red;
  font-size: 80px;
}

.swiper-scrollbar {}